* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: 'Pixelify Sans', sans-serif;
  background: #cdcec6;
  -webkit-font-smoothing: none;
}

#root {
  min-height: 100vh;
}
